
.start-body, .start-low-body {
  height: calc(100vh - 70px);
  min-height: 550px;  
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-low-body {
  min-height: 0;
}

.buttons {
  display: flex;
  background-color: #fff;
  width: 90%;
  margin-top: 50px;
}

.in, .out {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  border-bottom: 3px solid #4DD0E1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4DD0E1;
  cursor: pointer;
}

.btn-inative {
  width: 50%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  border-bottom: 3px solid #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
  cursor: pointer;
}



.show-body {
  animation-name: showBody;
  animation-fill-mode: forwards;
  animation-duration: 1s;    
}

.hide-body {
    animation-name: hideBody;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

@keyframes hideBody {
    from {
      margin-left: 0;
      margin-right: 0;
    }
    to {
      margin-left: -50%;
      margin-right: 50%;
    }
  }  

@keyframes showBody {
    from {
      margin-left: -50%;
      margin-right: 50%;
    }
    to {
      margin-left: 0;
      margin-right: 0;
    }
  }    
