

.menu, .history {
  position: fixed;
  margin-top: 0;
  width: 100%;
  height: 100vh;
  background-color: #4DD0E1;
}

.menu-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu-app .menu-text {
  margin-bottom: 20px;
}

.menu-text {
  font: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 50px;    
  margin-left: 20px;
  cursor: pointer;
}

.menu-text-1 {
  margin-top: 70px;
}

.menu-img-close {
  cursor: pointer;
}

.history {
  background-color: #F2F2F2;
  color: black;
}

.plates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 4px;
  min-height: 300px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.block-arrow {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.block-arrow div {
  margin-left: 10px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  color: #00BCD4;
}

.data-plate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  height: 83px;
  border-radius: 8px;
  border: 1px solid #E4E3E3;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.data-plate div:nth-child(1) {
  margin-right: 80px;
}

.array-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #9B9B9B;
}

.array-text + div {
  font-size: 24px;
  line-height: 33px;
  color: #0A261D;
}





.showMenu {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

.hideMenu {
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-duration: 1s;    
}

@keyframes hide {
  from {
    margin-left: 0;   
  }
  to {
    margin-left: 100%;
  }
}

@keyframes show {
  from {
    margin-left: 100%;   
  }
  to {
    margin-left: 0;
  }
}

