
.input-in, .input-out {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 320px;
}

.input-out {
  height: 390px;
}

.input-in div:nth-child(1),
.input-out div:nth-child(1) {
  text-align: left;
  margin-top: 20px;
}

.loader-in {
  width: 70px;
}

.div-error {
  margin-top: 10px;
  background-color: rgba(255, 23, 68, 0.15);
  border-radius: 4px;
  width: 500px;
  height: 32px;
  background-image: url('../../images/ic-exclamation-marc.svg');
  background-repeat: no-repeat;
  background-position: 2% 50%;
}

.registrando {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #4A4A4A;
  margin-top: 20px;
}

.input-numero, .btn-send-inative, 
.btn-in-active, .input-erro,
.btn-out-inative, .btn-out-active,
.btn-pay-active {

  width: 500px;
  height: 67px;
  outline: none;
  background: #FFFBE6;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.input-erro {
  color: #FF0068;
}

.input-numero::placeholder {
  color: #9B9B9B;
}

.btn-send-inative, .btn-in-active,
.btn-out-inative, .btn-out-active,
.btn-pay-active {

  background: #DADADA;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-top: 15px;
  color: #9B9B9B;
  cursor: pointer;
}

.btn-out-inative, .btn-out-active {
  background-color: #fff;
  border: 2px solid #DADADA;
}

.btn-pay-active {
  background-color: #A769B2;
  color: #fff;
}

.btn-out-active {
  border-color: #A769B2;
  color: #A769B2;
}

.btn-in-active {
  background: #28DD91;
  color: #fff;
}

.input-label {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
}

.block-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alerts {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 339px;
  height: 294px;
  background-color: #fff;
  border-radius: 4px;
}

.alerts button {
  max-width: 300px;
}

.text-modal {
  width: 180px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #4A4A4A;  
}

.plate-modal {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
  color: #00BCD4;  
}

.link-historico {
  margin-top: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #00BCD4;
  cursor: pointer;
}




.show-body {
  animation-name: showBody;
  animation-fill-mode: forwards;
  animation-duration: 1s;    
}

.hide-body {
    animation-name: hideBody;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

@keyframes hideBody {
    from {
      margin-left: 0;
      margin-right: 0;
    }
    to {
      margin-left: -50%;
      margin-right: 50%;
    }
  }  

@keyframes showBody {
    from {
      margin-left: -50%;
      margin-right: 50%;
    }
    to {
      margin-left: 0;
      margin-right: 0;
    }
  }    


@media (max-width: 700px) {
  .input-numero, .input-erro, .div-error, 
  .input-body button, .btn-pay-active, 
  .btn-out-active, .btn-in-active,
  .btn-out-inative, .btn-send-inative {
      
    width: 72vw;
  }
}

@media (max-width: 400px) {
  .alerts {
    width: 85%;
  }
}

  