
.principal {
    
  
}

.blocks {
  display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;  
    background-color: #4DD0E1;
}

.header-menu-img {
    width: 35px;    
    margin-right: 20px;
}

.logo {
  position: fixed;
  margin: 20px;
  z-index: 2;
}

.menu {
  
  width: 100%;
  height: 100vh;
  background-color: #4DD0E1;
}

.menu-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.menu-app .menu-text {
  margin-bottom: 20px;
}

.menu-text {
  font: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 50px;    
  margin-left: 20px;
}

.menu-text-1 {
  margin-top: 70px;
}

.menu-img-close {
  cursor: pointer;
}

.start-body {
  height: calc(100vh - 70px);
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  background-color: #fff;
  width: 90%;
  margin-top: 50px;
}

.in, .out {
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  border-bottom: 3px solid #4DD0E1;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #4DD0E1;
  cursor: pointer;
}

.btn-inative {
  width: 50%;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #F2F2F2;
  border-bottom: 3px solid #F2F2F2;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
  cursor: pointer;
}

.input-body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 280px;
}

.input-body div:nth-child(1) {
  text-align: left;
  margin-top: 20px;
}

.input-numero {
  min-width: 280px;
  width: 70vh;
  height: 67px;
  top: 32px;
  outline: none;
  background: #FFFBE6;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #9B9B9B;
}

.input-label {
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
}









.show {
    animation-name: show;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

.hide {
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-duration: 1s;    
}

@keyframes hide {
  from {
    margin-left: 0;   
  }
  to {
    margin-left: 100%;
  }
}

@keyframes show {
  from {
    margin-left: 100%;   
  }
  to {
    margin-left: 0;
  }
}


.show-body {
  animation-name: showBody;
  animation-fill-mode: forwards;
  animation-duration: 1s;    
}

.hide-body {
    animation-name: hideBody;
    animation-fill-mode: forwards;
    animation-duration: 1s;    
}

@keyframes hideBody {
    from {
      margin-left: 0;
    }
    to {
      margin-left: -100%;
    }
  }  

@keyframes showBody {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }    