
.principal {
}

.blocks {
  display: flex;
}

.logo-absolute {
  position: absolute;
  margin: 20px;
  z-index: 1;
}

.logo-fixed {
  position: fixed;
  margin: 20px;
  z-index: 1;
}

.hide {
  display: none;
}

